.mainwrapper {
    cursor : default ;
}

.herosection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 150px;
    width: 100%;
}

.mainwrapper {
    display : flex; 
    flex-direction: row;
}

.githublink {
    font-size: 15px;
}

/************************************************************************************************************************/

/*********************************************/
/************ IPHONE SECTION *****************/
/*********************************************/

.iphonesection {
    display : flex;
    flex-direction: column;;
    height: auto;
    width: 100vw;
    background-color:rgb(3, 3, 3);
}

.iphonenavbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60px;
    width: 100%;
    background-color: rgba(145, 145, 145, 0.041);
}

.appleproducts {
    list-style: none;
    color : rgb(207, 207, 207);
    display: flex;
    padding-left: 0px;
}

.productref {
    display : inline-block;
    padding-left: 31px;
    padding-right: 31px;
}

.navicon {
    padding-left: 31px;
    padding-right: 31px;
}

.navproductref {
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: 80%;
}

.leftproductref {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
}

.rightproductref {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
}

.presentation {
    color : grey;
    font-size: 0.75em;
    font-weight: bold;
}

.caracteristiques {
    color : rgb(197, 197, 197);
    font-size : 0.75em;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
}

.buttonnav {
    color : white;
    font-size: 0.75em;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right : 10px;
    background-color: #0071E3;
    border-radius: 55px;
}

.xxxsmalltitle {
    color : rgb(255, 94, 0);
    font-weight: 600;
    font-size: 0.7rem;
}

.xsmalltitle  {
    color : rgb(187, 187, 187);
    font-weight: 600;
    font-size: 1.1rem;
}

.smalltitle {
    color : white;
    text-align: center;
    margin-top: 42px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 1.3rem;
}

.bigtitle {
    color : white; 
    text-align: center;
    margin-bottom: -5px;
    font-weight: 650;
    font-size: 3rem;
}

.iphoneswrapper {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 90%;
    margin : auto;
    justify-content: center;   
    position: static;
    z-index: 1;
}

.leftiphone {
    height: 950px;
    position: relative;
    left : 150px ;  
    z-index: 2;
}

.middleiphone {
    height: 950px;
    position: relative;
    top : 200px;
    z-index: 4;
}

.rightiphone {
    height: 950px;
    position: relative;
    right : 150px;
    z-index: 3;
}

.imgiphone {
    display: flex;
    height: 950px;
    width : auto;
}

.photoparagraph {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
    padding-bottom: 40px;
    width: auto;
    z-index: 5;
}

.bigtitlevarun {
    text-align: left;
    color : whitesmoke;
    margin-bottom: -5px;
    font-weight: 650;
    font-size: 3rem;
}

.bigtitlevardeux {
    text-align: left;
    color :white;
    margin-bottom: -5px;
    font-weight: 650;
    font-size: 3rem;
}

/*********************************************/
/************ IPHONE SECTION *****************/
/*********************************************/

/************************************************************************************************************************/